
div.info span {
	background-color: yellow;
	font-weight: bold;
}

div.info {
	margin-bottom: 2em;
	
}
.serviceLoading {
	position: absolute ;
	left: 10em;
	z-index: 99;
}

#optionsTitle {
	display: inline-block ;
	font-size: 0.9em;
}

#optionsTitle .simple {
	display: inline;
}

#optionsTitle label {
	margin-left: 3em;
}

#serviceEditor label {
	display: inline-block ;
}

#serviceEditor label span {
	min-width: 10em;
	text-align: right;
	display: inline-block ;
	font-weight: bold;
}

#serviceEditor #logsLabel span {
	min-width: 7em;
}


#monitors input {
	width: 5em;
}


label.alerts {
	min-width: 20em;
}
label.alerts input, label.alerts .noteAlt {
	min-width: 3em;
}
label.alerts input {
	width: 3em;
}

#serviceEditor {
	font-size: 10pt;
	display: none;
}

.debugInfo {
	display: none;
	overflow: hidden ;
	width: 4em;
	height: 1em;
}

.debugInfo:hover {
	overflow: auto;
	width: 800px;
	height: auto;
}

div.editorqtip {
	max-width: 800px;
}

#serviceEditor .noteAlt {
	padding: 2px;
}

.serviceDef {
	display: none;
}

#serviceEditor textarea {
	font-size: 10pt;
	font-family: monospace;
	line-height: 15px !important;
	white-space: pre ;
	-moz-tab-size: 4;
	tab-size: 4 ;
}

.group {
}


.group .heading {
	margin-bottom: 0.25em;
	margin-top: 1em;
	padding-top: 0;
	color: gray;
}


#serviceEditor input.wide {
	width: 700px;
	-moz-tab-size: 1;
	tab-size: 1 ;
}

#serviceEditor input.medium {
	width: 400px;
}

#serviceEditor input.smallJson {
	width: 50px;
}
#serviceEditor textArea {
	min-width: 20em;
	min-height: 1em;
	vertical-align: top;    
	margin-left: 0.5em;
}

.editDialog {
	position: relative;
	background-color: #f4f4f4;
	border: 1px none;
	border-radius: 0;
	margin: 1em;
	margin-top: 2em;
	padding: 0.5em;
	font-size: 10pt;
	min-width: 1000px;
}
div.quote {
	color: graytext;
	margin: 20px;
	font-style: italic;
}

.tedit {
	color: blue;
}

.tedit:hover {
	cursor: pointer;
	text-decoration: underline ;
}

.tedit input {
	width: 100%;
	position: relative;
	left: -10px;
}

.toggleAppCollect {
	padding: 0;
	line-height: 14px;
}

table.simple th div {
	color: gray;
}

table.appCollect tr img{
	display: none;
}

table.appCollect tr:hover img {
	display: inline-block;
	position: absolute;
	cursor: pointer;
}


table.appCollect tr td {
	position: relative ;
}

table.appCollect tr td:first-child {
	padding-left: 2em;
}


table.appCollect {
	margin: 0;
	margin-bottom: 1em;
}

table.appCollect tr td:nth-child(1)  {
	min-width: 14em;
	padding-top: 10px;
	padding-bottom: 10px;
}

table.appCollect tr td:nth-child(2)  {
	min-width: 14em;
} 
table.appCollect tr td:nth-child(3)  {
	min-width: 9em;
} 
table.appCollect tr td:nth-child(4)  {
} 
table.appCollect tr td:nth-child(5)  {
	min-width: 3em;
	text-align: right;
} 

 table.appCollect th {
	 padding: 7px;
 }

table.appCollect td {
	padding: 0.25em;    
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: middle;
	word-break: break-all ;
}