<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head>

		<title th:inline="text">Service Data</title>


		<script th:replace="/graphs/head :: pageContent"></script>

		<script th:inline="javascript">


		var agentHostUrlPattern = [[${ agentHostUrlPattern }]];
			var uiSettings = {
				baseUrl: [[@{ ${ T(org.csap.agent.CsapCoreService).BASE_URL}}]],
				life:	 [[ ${ life } ]],
				eventUser: [[ ${ eventUser } ]],
				eventMetricsUrl: [[ ${ eventMetricsUrl } ]]
			}

			if (  [[${csapApp.isDesktopHost()}]] ) {
				uiSettings.isForceHostToLocalhost = true;
			}
			

			var serviceName = [[ ${ serviceName } ]];
			document.title = serviceName + " : " + document.title;

			// $("header").html('<div class="noteHighlight" >' + serviceName + " : Application Graphs" + '</div>') ;

			

			$(document).ready(function () {
			require([ "ResourceGraph" ],
					function (ResourceGraph) {
					var serviceGraph = new ResourceGraph(
							"#applicationGraphs", "jmx" + serviceName,
							uiSettings.life,
							uiSettings.eventUser,
							uiSettings.eventMetricsUrl);
					});
			});
		</script>
		<style>

			#csapPageVersion, header >div:first-of-type {
				display: none;
			}
			.ui-widget {
				font-size: 0.8em;
			}


		</style>
	</head>

	<body th:inline="text">

		<header th:replace="csap/fragments/page :: header"></header>

		<div th:replace="/graphs/template :: pageContent"></div>

		<div id="applicationGraphs" style="font-size: 0.9em"></div>

		<footer th:replace="csap/fragments/page :: footer"></footer>
	</body>

</html>
