<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head>

		<title th:inline="text">Host Shared</title>
		
		
		<script th:replace="/graphs/head :: pageContent"></script>

	
		<script th:inline="javascript">
		

		var agentHostUrlPattern = [[${ agentHostUrlPattern }]];
		
			var uiSettings = {
				baseUrl: [[@{ ${ T(org.csap.agent.CsapCoreService).BASE_URL}}]],
				life:	 [[ ${ life } ]],
				eventUser: [[ ${ eventUser } ]],
				eventMetricsUrl: [[ ${ eventMetricsUrl } ]]
			}
			
			if (  [[${csapApp.isDesktopHost()}]] ) {
				uiSettings.isForceHostToLocalhost = true;
			}
			
			$(document).ready(function () {

				require([ "ResourceGraph" ],
					function (ResourceGraph) {
					var vmGraph = new ResourceGraph("#vmGraphs", "resource",
							uiSettings.life,
							uiSettings.eventUser,
							uiSettings.eventMetricsUrl);
					});
			});
		</script>
		<style>

			.ui-widget {
				font-size: 0.8em;
			}


		</style>
	</head>

	<body th:inline="text">

		<header th:replace="csap/fragments/page :: header"></header>

		<div th:replace="/graphs/template :: pageContent"></div>

		<div id="vmGraphs" style="font-size: 0.9em"></div>

		<footer th:replace="csap/fragments/page :: footer"></footer>
	</body>

</html>
