<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
	<head><title></title></head>
	<body th:fragment="pageContent" th:remove="tag" >



		<!-- 
		
			- Common Graph template included when graphs are displayed
		
		-->

		<script th:replace="csap/fragments/flot-includes :: pageContent"></script>


		<script th:src="@{ ${csapApp.versionedUrl('/js/graphs/flot-navigate-enhanced.js')} }"></script>


		<link th:href="@{ ${csapApp.versionedUrl('/js/graphs/graph.css')} }" rel="stylesheet"  type="text/css" media="screen" />

		<script >

			// do not initize anything here as there are race conditions on loading.

		</script>



		<div id="resourceTemplate" style="display: none; padding-left: 5px; padding-right: 5px;">


			<div class="graphOptions">

				<button class="pushButton  refreshGraphs" title="Refresh Graphs Display">
					<img style="width: 12px" th:src="@{/images/16x16/view-refresh.png}"/>
				</button>

				<a href="#" class="simple showSettingsDialogButton" title="Modify Configuration Settings and Graph Filters">
					<img th:src="@{/images/16x16/preferences-system.png}"/>
					<span class="settingsText"></span>
				</a>

				<img class="graphHelp" th:src="@{/images/16x16/help.png}"/>

				<label title="Which day to display, use settings for inputting other days" style="margin-left: 3em">
					<img style="padding-right: 0" th:src="@{/images/16x16/schedule.png}"/>
					Date:
				</label>

				<input type="text" class="datepicker" placeholder="Real Time" title="Click to browse calendar"/>

				<div class="historicalOptions">
					<select class="numDaysSelect" title="How Many days of Data">
						<option value="0">Real Time</option>
						<option value="1">1 day of Data</option>
					</select>
				</div>

				<div class="graphDisplay">
					<label class="timeZone">
						Time Zone: <select class="graphTimeZone choices"
										   title="By default, TimeZone of host is used for consistency with logs" style="margin: 0"
										   >
							<option value="Host">Host</option>
							<option value="Browser">Browser</option>
							<option value="-5">RTP NC</option>
							<option value="-6">Allen TX</option>
							<option value="-8">San Jose, CA</option>
							<option value="+5.5">India IST</option>
							<option value="-0">GMT</option>
						</select>
					</label>



					<div class="displayOptionsContainer">

						<label  title="Number of samples to display on graphs" style="font-size: 0.8em">
							Display: 
						</label>
						<select class="zoomSelect" >
							<option>1</option>
						</select>
						<select class="meanFilteringSelect" 
								title="collected values will be filtered by > n*mean and < mean/n">
							<option value="0">-</option>
							<option>1.5</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>8</option>
							<option>10</option>
							<option>20</option>
						</select>


						<label style="font-size: 0.8em"
							   title="Line graphs highlight relative value comparison of elements;  stacked graphs highlight cumulative values.  "
							   >
							Lines:
							<input class="useLineGraph" type="checkbox" value="left" />
						</label>

						<label  title="Arrangement of graphs in rendering area">
							<select class="layoutSelect">
								<option value="default">CSAP  Default</option>
								<option value="spotlight1">Spotlight</option>
								<option value="spotlight2">Double Spot</option>
								<option value="small">Small</option>
								<option value="smallWide">Small / Wide</option>
								<option value="medium">Medium</option>
								<option value="mediumWide">Medium / Wide</option>
							</select>
							<button class="savePreferencesButton pushButton" title="Click to save current settings as your default">
								<img th:src="@{/images/16x16/document-new.png}" />
							</button>
						</label>
						<label  title="Custom Layouts" style="display: none">
							<select class="customViews">
								<option value="all">All</option>
							</select>
						</label>

					</div>
				</div>


			</div>


			<div class="resourceConfig" style="display: none">

				<div class="resourceConfigDialog">
					<section>
						<div class="title">Collection Intervals:</div>
						<label>Select: </label>
						<div class="sampleIntervals" style="display: inline-block;"></div>

						<label class=""
							   title="AutoSelect interval based on number of days retrieved. Larger intervals will highlight trending and take less time to render. Shorter intervals will display usage spikes"
							   >
							Auto Select:
							<input id="autoInterval" class="custom useAutoInterval" type="checkbox"
								   checked="checked"
								   />
						</label>
						<label title="Select to append latest collected data to the selected interval results">
							Latest:
							<input class="padLatest custom" checked="checked" type="checkbox" value="left" style="font-size: 0.8em" />
						</label>
						<br/>

						<label class="" title="Reduces number of points displayed.  Number of pixels separting points. Samples too close are difficult to read, too far and you miss deviations">
							Graph rendering - Spacing:
							<select  class="samplingPoints">
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option selected="selected">10</option>
								<option>20</option>
								<option>30</option>
							</select>
						</label>

						<label class="" title="If requested samples is larger, then sample algorithm will be applied">
							Apply if greater then:
							<input class="custom samplingLimit" type="number" style="width: 3em"  value="200" />
						</label>


						<div style="float: right; display: inline-block">
							<label class="" title="Reduces the amount of data transferred to browser">
								Data Sampling
								<input class="custom useBuckets" type="checkbox"/>
							</label>
							<label class="" title="Amount to get from server">
								Samples
								<input class="custom bucketSize" type="number" title="Amount to show" value="1" style="width: 3em"/>
							</label>
							<label class="" title="Amount to skip">
								Spacing
								<input class="custom bucketSpacing" type="number" style="width: 3em" title="Amount to Skip" value="10"/>
							</label> 
						</div>



					</section>

					<section>
						<div class="title">
							Graph Selection
							<a href="#" style="margin-left: 3em" class="simple uncheckAll">UnCheck All</a>
							<a href="#" style="margin-left: 3em" class="simple checkAll">Check All</a>
						</div>
						<div class="graphCheckboxes"></div>
					</section>

					<section>
						<div class="title">
							Service Selection
							<a href="#" style="margin-left: 3em" class="simple uncheckAll">UnCheck All</a>
							<a href="#" style="margin-left: 3em" class="simple checkAll">Check All</a>
						</div>
						<div class="serviceCheckboxes" style="padding-bottom: 1em"></div>
					</section>

					<section>
						<div class="title">Display</div>


						<label title="Legend placement can be inside the graph plot, or below">
							<input class="outsideLabels custom" type="checkbox" checked="checked"/>
								Legend Below
						</label>

						<label title="By Default - full legend is displayed only on hover. Check this to include all in plot layout">
							<input class="includeFullLegend custom" type="checkbox" >
								Include Full Legend
						</label>

						<label style="font-size: 0.8em" title="Enable mouse based zooming and navigation">
							Mouse navigation:
							<input class="zoomAndPan custom" type="checkbox" value="left" style="font-size: 0.8em">
						</label>

						<label style="font-size: 0.8em" title="View data in csv format">
							csv
							<input class="csv custom" type="checkbox" value="left" name="csv" style="font-size: 0.8em">
						</label>
						<br/>

						<label title="Number of samples to display on visible section of graph - can be scrolled">
							Samples On Graph: <select id="numSamples" class="choices"

													  >
								<option value="10">10 points</option>
								<option value="30">30 points</option>
								<option value="60">60 points</option>
								<option value="120">120 points</option>
								<option value="200">200 points</option>
								<option value="400">400 points</option>
								<option value="600">600 points</option>
								<option value="800">800 points</option>
								<option value="99999" >All</option>
								<option value="99999" selected="selected">Sample(Mean)</option>
								<option value="99999" >Sample(Max)</option>
								<option value="99999" >Sample(Min)</option>
							</select>
						</label>


					</section>


					<!--  Placeholder for attributes managed by child UI pages. -->
					<section style="display: none;">
						<div class="title">Historical</div>
						<input class="custom useHistorical" type="checkbox" title="Uses audit records for source data">
							<label class="radio" for="historicalSource" title="Uses audit records for source data">Enable</label>
							<span class="historicalContainer">
								<label
									title="Day calculated based on offset. If number exceeds data stored, last day will be displayed. 0=current day, 1 = yesterday, ..."
									for="dayOffset"
									>Day to display: 
								</label> 
								<input id="dayOffset" style="width: 3em" class="numbersOnly" value="0"
									   title="Day calculated based on offset. If number exceeds data stored, last day will be displayed. 0=current day, 1 = yesterday, ..."
									   /> 
								<input id="useOldest" class="custom" type="checkbox"
									   title="Day calculated based on oldest, 0=last day, 1 = 2nd oldest, ..."
									   /> 
								<label class="radio" for="historicalSource"
									   title="Day calculated based on oldest, 0=last day, 1 = 2nd oldest, ..."
									   >From Oldest
								</label> 

								<label title="Number of days to include" for="source">Number Of Days: </label> 
								<input
									id="numberOfDays" style="width: 3em" class="numbersOnly" value="1"
									title="Number of samples to display on visible section of graph - can be scrolled"
									/>
							</span>
					</section>
				</div>
			</div>


			<div class="hostContainer">
				<div class="hostPerf hostTemplate" style="display: none">
					<div class="resourceGraphTitle">
						<span class="hostName">loading...</span>
						<div class="floatRight" style="float: none; padding-left: 5em; font-size: 1em">
							Collection: <span class="hostInterval" style="color: red">loading...</span> Minute(s)
						</div>
						<div class="floatRight launches">

							<span class="refresh">loading...</span>
							<a class="hostLaunch graphControls" href="getStatsInNewWindow">Host Dashboard</a>
							<a class="clearMetrics graphControls" href="clearMetrics"> Clear Metrics</a>
						</div>

					</div>

					<div class="sliderContainer" style="display: none">
						<input title="All times are in US Central" type="text" class="sliderTimeStart" disabled="disabled" value="loading" />
						<div class="resourceSlider" title="Use arrow keys or mouse to select time range to display."></div>

						<input title="Use zoom with mouse and keyboard to scroll" type="text" class="sliderTimeCurrent" disabled="disabled"
							   value="loading"
							   />
						<span id="metricsZoneDisplay" class=""
							  title="By default - times are shown using native time on host to match logs. Use settings to modify "
							  style="padding-right: 1em"
							  ></span>

						<button class="playTimelineBackButton" title="Click to play timeline backward">
							<img style="" th:src="@{/images/16x16/start.jpg}">
						</button>

						<button class="playTimelineButton" title="Click to play timeline forward">
							<img th:src="@{/images/16x16/start.jpg}">
						</button>

						<label class="autoRefresh" title="Auto refresh graph with real time data" for="autoRefresh">
							Auto refresh:
							<input class="autoRefresh" checked="checked" type="checkbox" name="autoRefresh" value="yes" />
						</label>
					</div>

					<div class="plotContainer">
						<div class="loadingLargePanel">Data is being loaded - time taken is proportional to time period selected.</div>
					</div>
				</div>

			</div>
		</div>

		<div id="graphToolTip"></div>
		<pre id="debug"></pre>

	</body>
</html>