<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head >

		<title th:inline="text"> Csap Encryption</title>

		<script th:replace="csap/fragments/libsAndStyles :: pageContent"></script>



		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/commonJQ.js')} }"></script>
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csapUtils/CsapUser.js')} }"></script>



		<link th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.css')} }" rel="stylesheet"  type="text/css" media="screen" />
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.js')} }"></script>

		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/jquery.autosize.js')} }"></script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var baseUrl = [[ @{ ${ T(org.csap.agent.CsapCoreService).BASE_URL}} ]];
			/*]]>*/
		</script>

		<script th:src="@{ ${csapApp.versionedUrl('/js/misc/property-encoder.js')} }"></script>
		<style>
			.resp {
				padding: 2px;
				text-align: left;
				word-break: break-all;
				word-wrap: break-word;
			}

			#helpButton {
				margin-left: 5em;
				display: inline ;
			}

			#customToken {
				vertical-align: bottom;
				width: 20em;
			}

		</style>
	</head>



	<body th:inline="text">


		<header>
			<div class="noteHighlight" >CS-AP Property Encrypter</div>

			<div class="note"
				 style="float: right; font-size: 0.7em; font-weight: normal; margin-left: 5em">
				Paste in the contents of your property file to retrieve the encoded
				values. Alternately - add a single item per line, ensuring it does
				not contain an "=".</div>
		</header>


		<section>
			<div th:if="${ adminRole }">
				<button id="encodeButton"  class="pushButton"
						title="Generate Encoded Values. File is a property file with 1 a=b entry per line">
					Encrypt
				</button>

				<button id="decodeButton"  class="pushButton"
					title="Decode previous values."
					th:if="${ infraRole }">
					Decrypt
				</button>

				<input id="customToken" placeholder="encoding token" title="Only needed when updating csapSecurity.properties and token file" />

				<a id="helpButton" target="_blank"
				   href="https://github.com/csap-platform/csap-core/wiki#updateRefProperty+Files"
				   class="simple ">Learn More<img class="but" src="../images/16x16/help.png"></a>

				<a id="replaceButton" href="#" class="pushButton "
				   title="Toggle Encoded Values">Toggle</a>


			</div>
			
			<div th:if="${ ! adminRole }" class="info">
				Your userid does not have access to encode - contact your administrator if this is incorrect
			</div>
			
			<textarea id="contents" name="contents"
						placeholder="Enter one item per line to be encrypted. If a=b is used - then b will be encrypted"
					  style="width: 100%; margin-top: 0.8em; min-height: 30em; white-space: pre"></textarea>

		</section>

		<div id="ajaxResults" style="display: none">
			<table class="bordered" style="margin-bottom: 3em">
				<thead>
					<tr>
						<th style="" class="resp">&nbsp;Key</th>
						<th style="" class="resp">Original</th>
						<th style="" class="resp">Encoded - General</th>
						<th style="" class="resp">Encoded - API specific</th>
					</tr>
				</thead>
				<tbody style="">
				</tbody>
			</table>
		</div>


	</body>
</html>