<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

	<head><title></title></head>
	<!-- 
		- Service Summary Listing
	-->

	<body  th:fragment="pageContent" th:remove="tag" >
		<h1>Service Limits</h1>
		<table id="serviceLimits" class="simple" >
			<thead>

				<tr>
					<th style="width: 12em">Service  </th>

					<th style="width: 5em"
						th:each="alert : ${ T(org.csap.agent.model.ServiceAlertsEnum).values() }"> 

						[[ ${  alert } ]] 
						<span th:if="${ alert == T(org.csap.agent.model.ServiceAlertsEnum).diskSpace }"> In MB</span>
					</th>

				</tr>
			</thead>


			<tbody 
				th:each="serviceEntry : ${ releasePackage.serviceInstancesInCurrentLifeByName () }"
				th:with="firstServiceInstance=${  releasePackage.getServiceToAllInstancesMap().get(serviceEntry.key).get(0)  }" >
				<tr
					th:if="${ firstServiceInstance != null and !firstServiceInstance.isScript() and null != releasePackage.serviceInstancesInCurrentLifeByName().get(serviceEntry.key)}">

					<td>[[ ${ serviceEntry.key } ]] <a
							class="simple viewDataButton" href="#viewData" target="_blank"
							th:attr="data-url=${prodDataUrl+serviceEntry.key}">
							<img class="but" title="Click to view production data"
								 th:src="@{/images/16x16/Zoom-In.png}"/>
						</a>

						<a th:if="${firstServiceInstance.isTomcatJarsPresent()}"
						   class="simple editLimitsButton" href="#EditConfig" target="_blank"
						   th:attr="data-editorpath=${'jvms.'+serviceEntry.key}">
							<img class="but" title="Click to Edit"
								 th:src="@{/images/16x16/preferences-system.png}"/>
						</a>

						<a th:if="${! firstServiceInstance.isTomcatJarsPresent() }"
						   class="simple editLimitsButton" href="#EditConfig" target="_blank"
						   th:attr="data-editorpath=${'osProcesses.'+serviceEntry.key}">
							<img class="but" title="Click to Edit"
								 th:src="@{/images/16x16/preferences-system.png}"/>
						</a>
					</td>



					<td
						th:each="alert : ${ T(org.csap.agent.model.ServiceAlertsEnum).values() }">
						[[ ${ T(org.csap.agent.model.ServiceAlertsEnum).getMaxAllowedSummary( firstServiceInstance,lifeCycleSettings, alert) } ]]</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>