<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">



	<head>

		<title th:inline="text"> [[ ${ pageName } ]]</title>

		<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>


		<script th:src="@{/js/simple.js}"  ></script>

		<style>
			table.simple  {
				width: 80em;
				margin-bottom: 3em;
			}

			table td:nth-child(1) {
				width: 15em;
			}

			table td:nth-child(2) {
				width: 5em;
			}

			header .noteAlt {
				font-size: 0.7em;
				margin: 0;
				padding: 3px;
			}
			div.title {
				width: 20em;
				color: black;
			}

		</style>
	</head>

	<body th:inline="text" >

		<header th:replace="csap/fragments/page :: header"></header>

		<div th:replace="tests/agent :: pageContent"></div>

		<div th:replace="tests/technology"></div>

		<footer th:replace="csap/fragments/page :: footer"></footer>
	</body>

</html>
