<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

	<head><title>fragment</title></head>
	<body th:fragment="pageContent" th:remove="tag">


		<div id="deployContainer" >

			<section id="operations" >


				<div class="heading" style="margin-top: 0; padding-top: 0">Deployment:
					<span>

						<img id="subType" th:src="@{${subType}}" th:title="${subTitle}"/>

						<span style="padding-left: 0"
							  id="primaryHost" title="Primary service can be changed below"></span>

						<span id="serviceCpu" title="Percent total CPU since last started" style="margin-left: 0"></span>

					</span>

					<button id="eolWarningButton" class="ok"
							title="Click to view components needing to be updated">
						Technology 
						<span>
							<img th:src="@{/images/star.png}"/> 
							<img th:src="@{/images/star.png}"/> 
							<img th:src="@{/images/star.png}"/>
							<img th:src="@{/images/star.png}"/>
						</span>
					</button>

					<div id="eolWarningsMessage" style="display: none">
						<span style="background-color: yellow">Newer Software Available - production SLA is impacted</span>
						<div class="quote">
							Using older or EOL versions of software violates standard engineering practices for ensuring security
							and stability:
							<div class="eolItems">

							</div>
						</div>
						For migration steps and recommended components, visit: 
						<a class="simple" style="display: inline" target="_blank" href="https://github.com/csap-platform/csap-core/wiki#updateRefRuntime+Support">
							CSAP Runtime Support
						</a>
					</div>
				</div>

				<div style="clear: both; margin-bottom: 0.5em;"></div>



				<div class="infoWarn" th:if="${collectHost} != null" >
					Deployment commands disabled as service instance is remote collection for
					[[ ${ collectHost } ]]
				</div>

				<div class="infoWarn" th:if="${adminRole} == null"  >
					Deployment commands disabled as your userid is not a member of admin group: 
					[[ ${ adminGroup } ]]
				</div>
				<div id="opsButtons" style="padding-top: 0.25em;"
					 th:if="${adminRole != null && collectHost == null}">

					<div class="serverIcon">
						<a
							href="https://github.com/csap-platform/csap-core/wiki#updateRefRuntime+Support"
							target="_blank">
							<img th:src="${serverImage}"
								 th:title="${serverTitle +',click to view Runtime Information in Reference Guide'}"
								 style="">
						</a>
					</div>
					<button id="deployOptionsButton" class="pushButton"
							style="margin-right: 0;" title="Show deployment options"
							th:if="${scmRole} != null">
						<img src="images/16x16/preferences-system.png"/>Deploy...
					</button>

					<div class="infoWarn"  style="display: inline-block" th:if="${scmRole} == null">
						Deploy commands disabled as your userid is not a member of deploy group:
						[[ ${buildGroup} ]]<br/></div>


					<button id="startOptionsButton" class="pushButton"
							style="margin-right: 0;" title="Show Start options">
						<img src="images/16x16/start.jpg"/>Start...
					</button>


					<button id="killOptionsButton" class="pushButton"
							style="margin-right: 0;" title="Show Stop options">
						<img src="images/16x16/Error.gif"/>Stop...
					</button>
					<!--<br/>
					<a id="selectAllInstancesButton" href="#" class="simple selectAllHosts"
					   title="Select all instances for operations">Select All Service Instances</a>
					<div class="noteHighlight">Individual selections available below</div>
					<br/> -->

					<div id="dockerContainerNotice"   style="" th:if="${ useDockerContainer } != null">
						<img class="but" src="images/docker.png"/> Docker Container Enabled</div>
					
					<div id="deployDialog" style="display: none">


						<span th:if="${serviceInstance.isDataStore()}"> 
							<img
								class="but" src="images/16x16/warning.png"/>
							<span
								style="font-weight: bold"> Warning - This service is a
								data-store. Refer to help for appropriate deploy processes.</span> <br/>
						</span>

						<div class="deployOptions">
							<br/> <label class="optionLabel"> Currently Deployed:
								<span id="serviceVersion"></span>
							</label> <br/> <br/> <br/> 



							<div id="dockerDeployOptions">
								<label class="optionLabel">
									Docker Image: 
									<input id="dockerImageVersion"
										   title="The docker Image to deploy"
										   style="width: 80%; margin-left: 5%"
										   >


								</label>

							</div>
							<div id="osDeployOptions">

								<label class="optionLabel">
									Deploy From: </label> <label class="optionLabel"
															 th:title="${'Click to deploy using maven war file configured in definition file:'+ serviceInstance.getMavenId()}">
									<input type="radio" name="deployRadio" value="maven"
										   checked="checked" />Maven
								</label> <label class="optionLabel" title="Click to deploy from source">
									<input type="radio" name="deployRadio" value="source" />Source
									Code
								</label> <label class="optionLabel" title="Click upload file"> <input
										type="radio" name="deployRadio" value="upload" />Upload
								</label> <br/> <br/>


								<div id="mavenOptions">

									<input id="mavenArtifact"
										   title="The version of the service to deploy. By default - it is the version defined by SCM team in the capability definition file."
										   style="width: 80%; margin-left: 5%" name="maven"
										   th:value="${serviceInstance.getMavenId()}">


										<button class="pushButton multipleServicesButton"
												data-target="deployServerServices"
												title="Add more services from cluster">
											<img src="images/16x16/new.png">More services...
										</button>

										<div id="deployServerServices" class="servicesContainer">
											<div class="">
												<a href="#checkAll" class="simple checkAll"
												   style="margin-left: 2em">Check All</a>
												<a href="#uncheckAll" class="simple uncheckAll"
												   style="margin-left: 2em">Clear All</a>
											</div>
											<div class="serviceCheckboxes"></div>
										</div>

								</div>


								<div id="sourceOptions">

									<label> userid: <input id="scmUserid" style="width: 6em"
														   name="scmUserid" th:value="${ userid }">
									</label> <label> password: <input id="scmPass"
																	  style="width: 17.5em;" name="scmPass" value="" type="password">
									</label> <br/> <label title="Adds deploy to maven command">
										upload to maven: <input id="isScmUpload" name="isScmUpload"
																type="checkbox">
									</label> <label
										title="This value will be string substited in URL below with trunk. If you change this you will need to run service clean. Branches are usually named /branches/branchname.">
										branch/tag: <input id="scmBranch" style="width: 15em"
														   name="scmBranch"
														   th:value="${ serviceInstance.getDefaultBranch() }"
														   >
									</label> <br/> <label> buildCommand: <input id="scmCommand"
																				style="width: 30em" name="scmCommand"
																				th:value="${ lifeCycleSettings.getMavenCommand() }"
																				>
									</label> <br/> <span class="comment"
														 title="Click to browse source location"><a class="simple"
																			   style="font-style: italic; font-weight: normal" target="_blank"
																			   th:href="${ serviceInstance.getScmLocation() }"> [[ ${serviceInstance.getScmLocation() } ]]</a>
									</span>


								</div>

								<div id="uploadOptions"
									 style="padding-top: 2em; padding-bottom: 2em">
									<form id="uploadForm" action="service/uploadArtifact"
										  enctype="multipart/form-data" method="post" style="">

										<input id="uploadServiceFile" type="file" name="distFile"
											   size="60"/>
										<input id="upService" type="hidden" name="serviceName" value=""/>
										<div id="upHosts"></div>
									</form>

								</div>
							</div>

						</div>


						<label
							title="If checked, service will be started after deploying using default start parameters">
							Deploy Autostart: <input id="deployStart" name="deployStart"
													 type="checkbox" checked="checked"/>
						</label> Hot Deploy:
						<input id="isHotDeploy" name="isHotDeploy" type="checkbox"
							   title="Deploys war into existing container. Refer to tomcat parallel deployment - this enables outage free migrations if war is compliant.">

							Undeploy: <select id="undeploySelect" name="undeploySelect"
											  style="background-color: #DADAF5; font-weight: bold;">
								<option value="select">Select</option>
							</select>
							<a id="cleanServiceBuild" class="simple" href="#"
							   style="font-size: 0.9em;"
							   title="This will remove the source folder for the service from previous build, and the com packages">
								<img class="but" src="images/16x16/clean.png">Clean Service
							</a>
							<a id="cleanGlobalBuild" class="simple" href="#"
							   style="font-size: 0.9em; margin-left: 3em"
							   title="This will completely purge the maven and build files for all services. Subsequent builds will need to repopulate maven cache and will take longer.">
								<img class="but" src="images/16x16/warning.png">Clean All
							</a>


					</div>


					<div id="startOptions" style="display: none; height: 100%">

						<div th:if="${serviceInstance.isDataStore()}"> 
							<img class="but" src="images/16x16/warning.png"/>
							<span
								style="font-weight: bold"> Warning - This service is a
								data-store. Refer to help for appropriate start processes.</span> 
							<br/>
						</div>



						<div class="news">
							This will kill the service if it is already
							running, and re-extracts the war and property files. See options
							for quickstart, etc.
						</div>




						<div id="startBlock" style="padding: 1em;">

							<label
								title="If checked, service will NOT be extracted from war/zip">
								Skip Extraction: <input id="noDeploy" name="noDeploy"
														type="checkbox">
							</label> 

							<span th:if="${ serviceInstance.isJavaCollectionEnabled() }">
								<label
									title="If checked, service will be started with remote debug enabled">
									Remote Debug: <input id="isDebug" name="isDebug" type="checkbox">
								</label> 
								<label
									title="If checked, service will be started with JMC params">
									JMC: <input id="isJmc" name="isJmc" type="checkbox">
								</label> 
								<br/> 
								<label
									title="If checked, service will be started with  java Garbage Collection logs output to a separate file. Custom configuration may use input below.">
									GC Logs: <input id="isGarbageLogs" name="isGarbageLogs"
													type="checkbox">
								</label> 

								<label
									title="If checked, service will be started with  java Garbage Collection logs output in standard log file. Custom configuration may use input below.">
									Inline GC Logs: <input id="isInlineGarbageLogs"
														   name="isInlineGarbageLogs" type="checkbox">
								</label>

								<label>
								<a style="vertical-align: middle" class="simple"
								   href="https://github.com/csap-platform/csap-core/wiki#updateRefJava+Garbage+Collection"
								   target="_blank"
								   title="View Garbage Collection in CS-AP reference guide">
									<img class="but" th:src="@{/images/16x16/help.png}"/>GC Hints
								</a>
								</label>
							</span>

						</div>

						<div id="startCommonBlock" style="padding-left: 2em; margin: 1em"
							 th:if="${ serviceInstance.isTomcatJarsPresent() }">
							Runtime: 
							<select id="runtimeSelect"
									title="Select Application Container">
								<option th:each="name : ${serviceInstance.getServertypes()}"
										th:selected="${name == serviceInstance.getServerType()}"
										th:value="${name}" th:text="${name}">filled</option>

							</select> 

							<select id="jdkSelect" title="Select Java version"></select>
						</div>


						<div style="height: calc(100% - 100px)">
							
							<div class="heading" style="padding-top: 0; margin-top: 0">Start parameters</div>
							
							<textarea id="serviceParameters" spellcheck="false"
									  style="width: 90%; height: 90%; min-height: 3em;box-sizing: border-box;"
									  title="Note these can be permanently updated by selecting Edit Configuration button"
									  >[[ ${ serviceParameters } ]]</textarea>
						</div>


						<button class="custom multipleServicesButton"
								data-target="startServerServices"
								title="Add more services from cluster">
							Include other services...
						</button>

						<div id="startServerServices" class="servicesContainer">
							<div class="">
								<a href="#checkAll" class="simple checkAll"
								   style="margin-left: 2em">Check All</a>
								<a href="#uncheckAll" class="simple uncheckAll"
								   style="margin-left: 2em">Clear All</a>
							</div>
							<div class="serviceCheckboxes"></div>
						</div>

					</div>

					<div id="killOptions" style="display: none">

						<br/> <label
							title="If checked, service working folder will be deleted">
							Clean: <input id="isClean" name="clean" type="checkbox"
										  checked="checked">
						</label> 

						<label
							title="If checked, log folder will be preserved when clean is performed">
							Preserve Log Folder: <input id="isSaveLogs" name="isSaveLogs"
														th:if="${lifecycle} == 'prod'" type="checkbox" checked="checked">

								<input id="isSaveLogs" name="isSaveLogs"
									   th:if="${lifecycle} != 'prod'" type="checkbox"/>
						</label> <span th:if="${serviceInstance.isDataStore()}"> <img
								class="but" src="images/16x16/warning.png"><span
									style="font-weight: bold">Warning - This service is a
									data-store. Refer to help for appropriate shutdown processes.</span>
						</span>


						<button class="pushButton multipleServicesButton"
								data-target="killServerServices"
								title="Add more services from cluster">
							<img src="images/16x16/new.png"/>More services...
						</button>

						<div id="killServerServices" class="servicesContainer">
							<div class="">
								<a href="#checkAll" class="simple checkAll"
								   style="margin-left: 2em">Check All</a>
								<a href="#uncheckAll" class="simple uncheckAll"
								   style="margin-left: 2em">Clear All</a>
							</div>
							<div class="serviceCheckboxes"></div>
						</div>
						<br/> <br/>

						<button id="killButton" class="pushButton"
								style="margin-right: 0; margin-left: 3em;"
								title="Does an OS kill, then removes the files. Use options to skip file removal">
							<img src="images/16x16/Error.gif">Kill
						</button>



						<button id="stopButton" class="pushButton"
								style="margin-right: 0; margin-left: 3em;"
								title="Does an Stop - may take a while">
							<img src="images/16x16/Error.gif">Stop
						</button>


					</div>



				</div>


				<div class="heading">Management:<span>Service related activities</span></div>
				<div id="interactButtons" style="padding-top: 0.25em;">

					<button id="showLogs" class="pushButton"
							title="Tail/Browse the log files for selected service instances">
						<img src="images/16x16/document.gif">Tail Logs
					</button>

					<button id="searchLogs" class="pushButton"
							title="Search the log files for selected service instances">
						<img src="images/16x16/system-search.png">Search
					</button>


					<button id="launchService" class="pushButton"
							title="Launch the service in a new window">
						<img src="images/16x16/go-jump.png">Launch
					</button>

					<button id="showFiles" class="pushButton"
							title="Opens file browser to view/edit/tail property files, log files, etc.">
						<img src="images/16x16/logs.png">Files
					</button>

					<div id="launchOptions">

						<span th:if="${ lifeCycleSettings != null && lifeCycleSettings.getLabelToServiceUrlLaunchMap() != null}">
						</span>
						<a class="pushButton"
						   th:each=" urlEntry : ${lifeCycleSettings.getLabelToServiceUrlLaunchMap() } "

						   th:href="${ urlEntry.value }"
						   style="min-width: 15em" onclick="return false;"
						   th:title="${'Launch the service in a new window using ' + urlEntry.key}">
							<img class="but" src="images/16x16/go-jump.png">
								[[ ${urlEntry.key} ]]
						</a>
					</div>

					<br/>


					<a id="historyButton" class="simple toolsButton" href="#"
					   title="Shows history associated with service: who did what, and when.">
						<img src="images/16x16/documentdraw.gif">History
					</a>


					<a id="editServiceButton" class="simple toolsButton" 
					   title="Click to modify service configuraion" target="_blank"
					   href="#edit">
						<img  src="images/format-indent-more.png">Edit
					</a>



					   <!-- th:if="${serviceInstance.hasJobs()}"-->
					<a id="jobsButton" 
					   class="simple toolsButton" href="#jobs"
					   title="Invokes scheduled jobs for testing">
						<img th:src="@{/images/16x16/run.png}" />Jobs
					</a>


					<div id="jobOptions" style="display: none">

						<label>
							Select job to run:
							<select id="jobSelect">
								<option>updated by js</option>
							</select>
							<button id="doJobsButton" class="pushButton"
									style="margin-right: 0; margin-left: 3em;"
									title="Execute Job">
								<img th:src="@{/images/16x16/run.png}" />Run Job
							</button>
						</label> 
						<div class="heading">
							<label>
								The following jobs have been defined for the service:
							</label> 
						</div>

						<!-- Over written in JS code if custom jobs defined -->
						<div id="jobDetails" class="info" style="white-space: pre-wrap">
							No custom jobs defined. Default log rotation job can be invoked.
						</div>
						
						<br/>
						
						
					</div>

					<a id="hostHelpButton" class="simple toolsButton"
					   href="#agentPerformance" 
					   title="Click to view timers for resource consumption: rotating logs, collecting metrics, etc.">
						<img  src="images/16x16/schedule.png">Management
					</a>


					<br/>

					<a id="jvisualvmButton" 
					   class="simple jmxClassifier toolsButton"
					   href="#"
					   title="JVisualVm connects to Java processes, requires JDK install">
						<img class="" src="images/jconsole.jpg">JVisualVm
					</a>

					<a id="jmcButton" 
					   class="simple jmxClassifier toolsButton" href="#"
					   title="JMC connects to Java processes, requires JDK install">
						<img class="" src="images/jmc.jpg">JMC
					</a>
					<!-- 
						  <a  id="jconsoleButton" class="simple jmxClassifier toolsButton" href="#" title="JConsole connects to Java processes, requires JDK install">
							  <img class="" src="images/jconsole.jpg">Jconsole</a> -->

					<a id="jmeterButton" 
					   class="simple toolsButton" href="#"
					   title="CS-AP Convention uses JMeter maven plugin - this runs maven verify in WEB_INF/classes/JMeter.">
						<img src="images/16x16/os.png" height="16">JMeter
					</a>


					<a id="serviceHelpButton" class="simple toolsButton"
					   th:href="@{ ${ serviceInstance.getDocUrl() } }" 
					   th:title="${ serviceInstance.getDescription() + 'Click to launch the support documentation.'}">
						<img th:src="@{/images/16x16/help.png}"/>About
					</a>
				</div>


				<div class="heading">Performance: <span>Real Time Single Host</span></div>
				<div id="toolButtons" style="padding-top: 0.25em;">

					<a id="hostDashboardButton" class="pushButton" href="#"
					   title="Opens a dashboard showing key OS utilization, also supports thread dumps, and much more.">
						<img class="but" src="images/16x16/sysMon.png"/>Host
					</a>
					<a id="jmxDashboardButton" class="pushButton jmxClassifier" href="#"
					   title="Opens a dashboard showing standard Java metrics">
						<img class="but" src="images/16x16/sysMon.png"/>Java
					</a>

					<span th:if="${serviceInstance.getPerformanceConfiguration() } != null"> 

						<a th:if="${serviceInstance.hasHttpCollection()}"
						   id="httpCollectionButton" class="pushButton" href="#"
						   title="Opens a dashboard showing Application metrics collected via http"
						   >
							<img class="but" src="images/16x16/sysMon.png"/>Application
						</a> 

						<a id="jmxCustomDashboardButton" 
						   th:if="! ${serviceInstance.hasHttpCollection()}"
						   class="pushButton jmxClassifier"
						   href="#"
						   title="Opens a dashboard showing Application defined JMX metrics"
						   >
							<img class="but" src="images/16x16/sysMon.png"/>Application
						</a>
					</span>

				</div>
				<div class="heading">
					Analytics: <span>Near real time, one or more hosts</span></div>
				<div  id="analyticsButtons" style="padding-top: 0.25em;">
					<a id="hostCompareButton" data-report="graphVm" class="pushButton"
					   href="#"
					   data-qtipLeft="For each instance selected, a graph will be displayed showing host resource usage."
					   style="">
						<img class="but" src="images/16x16/sysMon.png"/>OS - Shared
					</a>
					<a id="osCompareButton" data-report="graphService"
					   class="pushButton" href="#"
					   data-qtipLeft="For each service instance selected, a graph will be displayed showing service resource usage."
					   style="">
						<img class="but" src="images/16x16/sysMon.png"/>OS - Process
					</a>
					<a id="jmxCompareButton" data-report="graphJmx"
					   class="pushButton jmxClassifier" href="#"
					   data-qtipLeft="For each service instance selected, a graph will be displayed showing JMX resource usage."
					   style="">
						<img class="but" src="images/16x16/sysMon.png"/>Java Analytics
					</a>
					<span th:if="${serviceInstance.getPerformanceConfiguration() } != null">
						<a id="appCompareButton" data-report="graphJmx" class="pushButton"
						   href="#"
						   data-qtipLeft="For each service instance selected, a graph will be displayed showing app resource usage."
						   style="">
							<img class="but" src="images/16x16/sysMon.png"/>Application Analytics
						</a>
					</span>
				</div>
				<br/>


			</section>


			<div id="instanceNav" class="miniNav">
				<button class="pushButton selectAllHosts"
						style="padding-right: 1em;">
					<img class="but" src="images/16x16/edit-select-all.png">Select
						All
				</button>
				<button id="deselectAllHosts" class="pushButton"
						style="margin-right: 2em;">
					<img class="but" src="images/16x16/document-new.png">Clear
				</button>
				<label id="instanceLabel"
					   title="Select instances based on cluster membership">
					Cluster: 
					<select id="lcSelect" name="hosts" style="">
						<option id="none" value="none">Select...</option>
					</select>
				</label>
				<a id="instanceHelpButton" class="simple" href="#" title=""
				   style="float: right; padding-right: 2em;">
					<img class="but" th:src="@{/images/16x16/help.png}"/>Hints
				</a>

			</div>

			<table id="instanceTable" class="bordered">
				<thead>
					<tr>
						<th> host (port)</th>
						<th >Cluster</th>
						<th >Version</th>
						<th >Host CPU</th>
						<th >pCPU</th>
						<th >Disk</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>

	</body>

</html>
