<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head th:fragment="pageContent" th:remove="tag" >

		<title th:inline="text">Performance-[[ ${ csapApp.getName() } ]]</title>

		<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>
		
		<script th:replace="~{ csap/fragments/jqplot-includes :: pageContent }"></script>


		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/commonJQ.js')} }"></script>
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csapUtils/CsapUser.js')} }"></script>



		<link th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.css')} }" rel="stylesheet"  type="text/css" media="screen" />
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.js')} }"></script>



		<script th:inline="javascript">

			CsapCommon.configureCsapAlertify();
			//tableCompute is summary reports. tableVm , service/details

			var uiSettings = {				
				baseUrl: [[@{ ${ T(org.csap.agent.CsapCoreService).BASE_URL}}]],
				reportRequest: "tableCompute",
				appGraphParam: [[ ${ #httpServletRequest.getParameter('appGraph') } ]] || "null",
				appIdParam: [[ ${ #httpServletRequest.getParameter('appId') } ]] || "null",
				projectParam: [[ ${ project } ]] || "null",
				lifeParam: [[ ${ life } ]] || "null",
				eventApiUrl: [[ ${ eventApiUrl } ]] || "null",
				analyticsUiUrl: [[ ${ analyticsUrl } ]] || "null",
				metricsDataUrl: [[ ${ eventMetricsUrl } ]] || "null",
				appId: [[ ${ #httpServletRequest.getParameter('xxx') } ]] || "null",
				hostParam: [[ ${ #httpServletRequest.getParameter('host') } ]] || "null",
				serviceParam: [[ ${ #httpServletRequest.getParameter('service') } ]] || "null",
				customParam: [[ ${ #httpServletRequest.getParameter('custom') } ]] || "null"
			}

			// handle source param [[ ${ param.source } ]]
			
			var toolsServer = [[ ${ toolsServer } ]] || null;

			var sourceParam = [[ ${ param.source } ]] || null;
			if (sourceParam != null && sourceParam[0] != "dev") {
				uiSettings.eventApiUrl = toolsServer + "/data/eventApi"
				uiSettings.metricsDataUrl = toolsServer + "/analytics/api/metrics/"
			}

			//Hook for working with prod event services
			//  if (false) {
			//if ( [[ ${ csapApp.isRunningOnDesktop()  } ]] ) {
			if ([[ ${ param.test != null } ]]) {
				uiSettings.eventApiUrl = toolsServer + "/data/eventApi"
						// analyticsUiUrl=toolsServer + "/analytics/api/" 
						uiSettings.lifeParam = [[ ${param.test} ]];
				uiSettings.metricsDataUrl = toolsServer + "/analytics/api/metrics/"
						uiSettings.appIdParam = "csapssp.gen";
				uiSettings.projectParam = "SNTC and PSS";
			}


			if ([[ ${ #httpServletRequest.getParameter('report') } ]] != null) {
			uiSettings.reportRequest = [[ ${ #httpServletRequest.getParameter('report') } ]];
			}


			var _metricLabels = [[${ metricLabels }]];
			
		</script>

		<script  th:attr="data-main=@{ ${csapApp.requiresUrl('/js/performance/modules/_main.js')}   }" 
		th:src="@{/webjars/requirejs/2.1.20/require.min.js}"></script>



		<link th:href="@{ ${csapApp.versionedUrl('/js/performance/performance.css')} }" rel="stylesheet"  type="text/css" media="screen" />


	</head>

</html>
