<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="pageContent" th:remove="tag" >

		<title th:inline="text"> [[ ${ title } ]] </title>

		<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>

		
		
		<link th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/lineNums/jquery-linedtextarea.css')} }" rel="stylesheet"  type="text/css" media="screen" />
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/lineNums/jquery-linedtextarea.js')} }"></script>
		


		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/commonJQ.js')} }"></script>
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csapUtils/CsapUser.js')} }"></script>


		<link th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.css')} }" rel="stylesheet"  type="text/css" media="screen" />
		<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.js')} }"></script>



		<script th:inline="javascript">

		var agentHostUrlPattern = [[${ agentHostUrlPattern }]];
		var isAdmin = [[ ${ adminRole } ]];
		var definitionFolder = "__root__/" + [[ ${csapApp.getDefinitionFolder().toURI().getPath()} ]];

		var clusterHostsMap = [[  ${ clusterHostsMap }  ]];

		var allHostsArray = [[   ${ allHosts }   ]];
		var serviceHostsArray = [[   ${ serviceHosts }   ]];


		var personName = [[ ${ userid } ]];
		var defaultLocation = [[ ${ defaultLocation } ]];
		var hasContentsParam = false;

		var SCRIPT_BASE= = [[ ${ scriptBase } ]];
		var FROM_BASE = SCRIPT_BASE  + personName ;

		// used for progress on single host scripts
		var XFER_BASE = SCRIPT_BASE + "xfer_" ;

		if ([[ ${ (contents != null && contents.length() > 0)  } ]])  hasContentsParam = true;
		var command = [[ ${ command } ]];
		var hostName = [[ ${ host } ]];
		var hasResult = false;
		if ([[ ${ result } ]] != null)  hasResult = true;
		var template = "uptime";
		if ([[ ${ template } ]] != "")  template = [[ ${ template } ]]

		var loadDefaultTemplate = false;
		if ([[ ${ contents } ]] == "")  loadDefaultTemplate = true;
		var searchText = [[ ${ searchText } ]];
		var pidParam = [[ ${ pid } ]];
		var serviceNameParam = [[ ${ serviceName } ]];
		var currLife = [[ ${ life } ]];

		</script>

		
		<link th:href="@{ ${csapApp.versionedUrl('/js/os/command.css')} }" rel="stylesheet"  type="text/css" media="screen" />
		<script th:src="@{ ${csapApp.versionedUrl('/js/os/command.js')} }"></script>




	</head>



</html>