<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>search page fragment</title>
	</head>
	<body th:fragment="pageContent" th:remove="tag" >


		<div id="logSearch" class="commandSection">


			<form id="logSearchForm" action="logSearch" method="post">


				<input id="jobIdInput" type="hidden" name="jobId" value="" />
				<input id="cancelInput" type="hidden" name="cancel" value="" />
				<input id="scriptName" type="hidden" name="scriptName" th:value="${  'Search' + userid + '_script.sh' }" />

				<div style="margin-bottom: 1em; width: auto; text-align: left; margin-left: 1em">

						<button id="submitSearchButton" class="pushButton">Search</button>
					<textArea id="searchTarget" name="searchTarget" placeholder="Enter the string you want to find"
							  style="width: 30em; margin-right: 0"
							  ></textArea>

					<div style="font-size: 0.8em; display: inline-block; vertical-align: top">
						<label title="Ignoring case can add to resources consumed considerable"
							   style="display: inline-block; vertical-align: top; padding-top: 0.5em"
							   >
							Ignore Case:
							<input name="ignoreCase" type="checkbox" style="width: 1em;"/>
						</label>
					</div>

					<div class="note" style="vertical-align: top; float: right; text-align: right">
						Search uses linux grep. Use "$" for end of line, etc.<br/>
						<a class="simple" style="display: inline;" href="https://www.google.com/search?q=linux+grep+samples" target="_blank">More tips..</a>
					</div>

					<div style="margin-top: 10px">
						
						
						<div id="hostButtonTarget" style="display: inline-block; top: -4px; vertical-align: middle; position: relative"></div>

						<label title="To limit resource consumption on host, search will be aborted if it takes longer then specified. Only CSAP admins may modify">
							Max Search Time:
							<input id="searchTimeout" type="number" name="timeoutSeconds" style="width: 4em" value="30" />
							seconds
						</label>
					</div>
				</div>

				<br/>

				<div class="searchLine">
					<span class="description">Search in: </span>
					<input id="searchIn" name="fromFolder" th:value="${ searchFolder }" title="Relative to service direcory; supports wildcard searches:  *.log, Start*.gz, ...)">
						<label title="Service working directory will be base of search">
							Service: <input name="serviceName" th:value="${ serviceName }">
						</label>
				</div>

				<br/>


				<div class="searchLine">
					<span class="description">Show: </span> <select id="maxMatches" name="maxMatches"></select>
					<label>With</label>
					<select id="linesBefore" name="linesBefore"></select>
					<label>And</label>
					<select id="linesAfter" name="linesAfter"></select>
				</div>

				<br/>

				<div class="searchLine">
					<span class="description" title="Only search the specified number of lines at the end of the file">Content:
					</span> <select id="tailLines" name="tailLines"></select>
					<label title="Search will start at end of file, and proceed backwards">
						Reverse Search:
						<input id="reverseOrder" name="reverseOrder" type="checkbox" style="width: 1em;">
					</label>
					<label title="Search Compressed Files, using linux zgrep">
						Zip Search:
						<input id="zipSearch" name="zipSearch" type="checkbox" style="width: 1em;">
					</label>
				</div>

				<br/>

				<div class="searchLine" title="Latest linux kernel include support for grep delimiters. Uncheck if errors occur">
					<span class="description">Separate Matches: </span>
					<input id="delim" name="delim" type="checkbox" style="width: 1em;" checked="checked">
				</div>

			</form>

			<br/>

			<div class="news" style="margin: 1em"
				 th:if="${searchFiles.length > 0}" >
				Items In log folder - Click to select<br/>
				<button class="fileInSearchFolder pushButton"
						th:each="file : ${searchFiles}" >[[ ${ file.getName() } ]]</button>

			</div>

		</div>


	</body>
</html>
