<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TODO supply a title</title>
	</head>
	<body th:fragment="pageContent" th:remove="tag" >



		<div id="upload" class="commandSection">
			<section>
				<div class="title">Upload File</div>

				<form action="uploadToFs" enctype="multipart/form-data" method="post">
					Select File:
					<input id="uploadFileSelect" type="file" name="distFile"  />
					Time Out:
					<input type="number" name="timeoutSeconds" style="width: 4em" value="30"
						   title="Commands will be aborted if not completed in specified interval"
						   />
					seconds <br/>Destination:
					<input id="uploadExtractDir" name="extractDir" th:value="${ defaultLocation}" style="width: 40em;" />
					<br/> Skip Extract:
					
					<input id="uploadSkipExtract" 
						title="If file ends in .zip or .tgz, it will be unzipped unless this is checked" 
							name="skipExtract"
						   type="checkbox" checked="checked"
						   />
					Overwrite File:
					<input id="uploadOverwrite" title="If target exists and is a file, select this to overwrite" 
						name="overwriteTarget" type="checkbox" />


					<br/>Chown User: <select id="chownUserid" name="chownUserid">
						<option th:each="optionUser  : ${osUsers}" 
								th:selected="${ optionUser == csapUser }"
								th:value="${ optionUser }"
								th:text="${ optionUser }">will be replaced</option>

					</select>  <br/>
					<button id="uploadButton" class="pushButton">Upload</button>
					<label style="margin-left: 1em;">To: </label>
					<span id="hostButtonTarget" style="margin-left: 1em;"></span>

					<br/>* Note Sync will be ignored if unzip option is selected
				</form>


			</section>
		</div>



	</body>
</html>
