
table .loadingPanel {
	font-size: 9pt;
	width: 400px;
	min-height: 30px;
	padding-top: 20px ;
	padding-bottom: 0 ;
	margin-left: 2em;
}

td.loadingCol {
	position: relative;
}

#vmSelectAttribute {
	width: 10em;
}

.hostCustom {
	margin-bottom: 5px;
}

#hostCusomizeDialog .info {
	font-size: 11pt;
	box-shadow: unset;
	padding-left: 0;
	margin-bottom: 2em;
}

#hostCusomizeDialog label {
	margin-left: 1em;
	font-weight: bold;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    border: 1px solid #cccccc;
    white-space: nowrap;
    background: rgba(208,208,208,0.9);

	font-size: 1.5em;
	padding: 10px;
	z-index: 999999;

	min-width: 6em;
}
div.trendOpen {
	font-size: 9pt;
	margin-top: 0.1em;
	font-style: italic ;
}

#hostCusomizeDialog label.entry {
	font-size: 10pt;
	font-weight: bold;
}

#hostSelection label {
	margin-bottom: 0;
}

#applicationNameLabel {
	font-size: 1.3em;
	display: inline-block ;
	vertical-align: middle;
	background-color: lightyellow;
	padding: 3px;
	font-weight: bold;
}

label.entry select {
	font-size: 1em;
}

table.jqplot-table-legend {
	width: 15em;
}

.jqplot-table-legend-swatch {
	width: 1em;
}

#isStackHosts {
	vertical-align: top;
	margin-right: 0.25em;
	margin-left: 3em
}

#visualizeSelect-button {
	margin-left: 1em;
	margin-right: 1em;
	vertical-align: middle;
}

.computePlot {
	width: 800px;
	height: 200px;
}

.computeHead {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#corePlot, #threadPlot {
	font-size: 1em;
	height: 20em;
}

table.fixed th {

}

#compareCurrent {
	font-weight: bold;
	font-size: 1em;
	word-break: normal;
	width: 65em;
}

#compareCurrent label {
	padding-right: 3em;
	padding-left: 1em;
	margin: 0;
}

.diffHigh {
	height: 10px;
	position: absolute;
	right: 10px;
}

.resourceWarning {
	background-image: url('../images/16x16/warning.png');
	background-repeat: no-repeat;
	background-size: 12px 12 px;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: absolute;
	top: 3px;
	right: 5px;
}

td.resourceHighest span {
	background-color: yellow;
}


.hostLabel {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 0.25em;
	font-weight: bold;
}

.category, .analytics {
	display: inline-block;
	width: 14em;
	border: 1px solid #bbb;
	padding: 0.2em;
	border-radius: 10px;
	background-color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
	font-size: 0.8em;
	text-align: left;
	margin-left: 1em;
	padding-left: 1em;
}

.analytics {
	margin-left: 0.8em;
}

.category input, .analytics input {
	margin-right: 0.5em;
}

.instanceCheck, .analyticsRadio {
	margin: 0;
	vertical-align: top;
}

#serviceCustomize {
	font-size: 0.8em; 
	vertical-align: middle;
	position: relative
}

#serviceCustomize label {
	margin-bottom: 0
}

.normal {
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 3em;
}

#showFilter {
	position: absolute;
	left: 1em;
	font-size: 0.8em;
	line-height: 1em;
	top: 0;
}

#advancedSection, #filterSection, #lifeSelect, #projectSelect,
#jmxSelection, #reportTabs, #serviceSummaryTable, #serviceDetailDiv,
#jmxDetailDiv, #jmxSummaryDiv {
	display: none;
}

#reportSettingsDialog label {
	display: inline-block;
	min-width: 12em;
}

#reportSettingsDialog .columnSelector label {
	display: block;
}

#reportCustomizeButton {
	font-size: 9pt;
	padding: 0;
	margin-left: 2em;
	line-height: 0.8em;
}


#catContainer {
	display: inline-block;
}

#hostDisplay, .columnSelector {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count: 4; /* Firefox */
	column-count: 4;
}

#jmxCustomServicesDiv {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

#vmSelectText {
	margin-left: 8em;
	font-style: italic;
	font-size: 0.8em;
}

.svcDiv {
	padding: 0;
	margin: 4px;
}

input.jmxRadio {
	margin: 0;
	vertical-align: middle;
}

.innerSelect .title {
	margin-top: -1.5em;
}

.reportSummary {
	width: 7em;
	display: inline-block;
	margin-bottom: 0.25em;
}


.reports {
	margin-right: 3em;
	margin-bottom: 3em;
}

.reports tfoot tr {
	border-top: 2px solid grey;
	border-bottom: 0;
}


.reports tfoot {
	background-color: #f5f5f5;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.reports tfoot tr:hover {
	background-color: #ccc;
	border-bottom: 0;
}
.reports tfoot tr td {
	border-bottom: 0;
	position: relative;
}

.reports tfoot tr.averageRow, .reports tfoot tr.medianRow {
	border-top: 0;
}

/*.reports tbody, .reports thead, .reports tfoot {
	display: block;
}*/


.reports tbody {
	height: 5em;
	min-height: 5em;
	overflow-y: auto;
}

#reportLabel, #serviceLabel {
	padding: 5px;
	padding-right: 1em;
	background-color: #FCFFD9;
	margin-bottom: 0;
}

#reportLabel {
	margin-left: 0;
}

#serviceDetailTable thead th, #serviceSummaryTable thead th, #vmTable thead th,
#jmxSummaryTable thead th, #jmxDetailTable thead th, #jmxCustomTable thead th,
#useridTable thead th {
	padding-right: 24px;
	text-align: right;
}
#serviceDetailTable thead th div, #serviceSummaryTable thead th div, #vmTable thead th div,
#jmxSummaryTable thead th div, #jmxDetailTable thead th div, #jmxCustomTable thead th div,
#useridTable thead th div {
	position: relative;
	right: -10px;
}
#useridTable {
	min-width: 30em;
}
#useridTable td:nth-child(1), #useridTable th:nth-child(1) {
	width: 12em;
	text-align: left;
}

#vmTable td:nth-child(1), #vmTable th:nth-child(1), #serviceSummaryTable td:nth-child(1),
#serviceSummaryTable th:nth-child(1), #serviceDetailTable td:nth-child(1),
#serviceDetailTable th:nth-child(1), #jmxSummaryTable td:nth-child(1),
#jmxSummaryTable th:nth-child(1), #jmxDetailTable td:nth-child(1),
#jmxDetailTable th:nth-child(1), #jmxCustomTable td:nth-child(1),
#jmxCustomTable th:nth-child(1) {
	width: 12em;
	min-width: 6em;
	font-size: 0.6em;
	display: none;
    word-break: break-all;
    word-wrap: break-word;
	white-space: normal;
}

table.fixed td {
	white-space: nowrap;
	font-size: 0.8em;
}

table td.diff,  table td.diffHighCell {
	position: relative;
}


#vmTable td:nth-child(2), #vmTable th:nth-child(2), #serviceSummaryTable td:nth-child(2),
#serviceSummaryTable th:nth-child(2), #serviceDetailTable td:nth-child(2),
#serviceDetailTable th:nth-child(2), #jmxSummaryTable td:nth-child(2),
#jmxSummaryTable th:nth-child(2), #jmxDetailTable td:nth-child(2),
#jmxDetailTable th:nth-child(2), #jmxCustomTable td:nth-child(2),
#jmxCustomTable th:nth-child(2) {
	font-size: 9pt ;
	text-align: left;
}


#serviceSummaryTable td:nth-child(2), #serviceSummaryTable th:nth-child(2),
#serviceDetailTable td:nth-child(2), #serviceDetailTable th:nth-child(2),
#jmxSummaryTable td:nth-child(2), #jmxSummaryTable th:nth-child(2),
#jmxDetailTable td:nth-child(2), #jmxDetailTable th:nth-child(2),
#jmxCustomTable td:nth-child(2), #jmxCustomTable th:nth-child(2) {
	width: 12em;
	font-size: 0.8em;
}

/*td.num, th.num {
	text-align: right;
	position: relative;
}*/

#reportOptions {
	margin: 0.5em;
	margin-left: 2em;
	font-size: 0.8em;
	position: relative;
}

#reportOptions select, #reportOptions #reportStartInput, #reportOptions #compareStartInput,
#reportSettingsDialog select {
	margin-right: 2em;
	margin-left: 0;
}

#reportOptions input, #reportSettingsDialog input, #showAll input,
#isShowJmx {
	margin-left: 0;
	vertical-align: middle;
	margin-right: 3px;
}

#reportSettingsDialog {
	font-size: 10pt;
}

#isFilterByAppId {
	padding: 0;
	margin: 0;
}

div.title {
	font-size: 1em;
}

#reportTabs .graphOptions {
	font-size: 0.8em;
}

/*
.ui-widget {
	font-size: 0.8em;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

#reportTabs .ui-tabs-anchor {
	padding: 1px;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.9em;
}

.ui-tabs-anchor img {
	padding: 0;
	padding-left: 2px;
	width: 14px;
	position: relative;
	top: 2px;
}
*/

.hostContainer>div {
	border-bottom: 5px solid black;
}

.hostContainer .hostName {
	font-size: 1.2em;
}

#appIdFilterSelect {
	margin: 0;
	margin-left: 0em;
	font-size: 0.8em;
}

#appIdDiv {
	display: inline-block;
	font-size: 0.8em;
	margin-left: 1em;
}

#appIdDiv label {
	margin: 0;
}

.showServiceSummary {
	font-size: 0.6em;
	margin-bottom: 1em;
	padding: 0.2em;
}
#generateEmailButton {
	font-size: 1em;
	padding: 0.2em;
}
#generateEmailButton img {
	vertical-align: middle ;
	padding-right: 5px;
}

#emailDialog {
	display: none;
}

#emailText {
	font-size: 1.5em;    
	height: 200px;
    width: 600px;
}

#sampleCount {
	font-weight: bold;
	position: absolute;
	right: 10em;
	top: 4.5em;
	font-size: 9pt;
}

.metricHistogram {
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	width: 800px;
}

#showAllServicesButton {
	margin-left: 1.4em;
	display: inline;
	position: absolute;
	top: 2.4em;
}

#showAppMetricsButton {
	margin-left: 1.2em;
	display: inline;
}

#showAllServicesButton img, #showAppMetricsButton img {
	position: relative;
	top: 4px;
	padding-right: 0.2em;
}

.tip {
	display: inline-block;
	font-size: 0.8em;
	margin-left: 3em;
	font-style: italic;
}

#vmSummary {
	margin: 2em;
	margin-bottom: 5em;
}

#vmSummary select {
	margin-left: 1em;
	margin-right: 0em;
	font-size: 0.8em;
}

#vmSummary input {
	-moz-transform: scale(0.8);
	vertical-align: middle;
	margin-right: 0;
}

#vmSummary .entry {
	display: none;
}

#vmSummary label {
	margin-right: 2em;
}

#vmSummary label {
	margin: 0;
	margin-left: 0.25em;
	margin-right: 2em;
	font-size: 0.8em
}

#vmSummary span {
	color: red;
	margin-right: 2em;
}

#vmSummary a, #vmSummary img {
	display: inline;
	vertical-align: top;
}

#metricsTrendingContainer {
	display: none;
	margin-left: 3em;
	font-size: 0.8em;
}

#metricsTrendingContainer input {
	margin-right: 0.25em;
}